*.o
/blackhole
/mori1
/mori2
/yasiti
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
configure~
depcomp
install-sh
missing
/xjokes-*.tar.gz
config.h
config.h.in
config.h.in~
stamp-h1
