*.o
.deps/
/blackhole
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/mori1
/mori2
/stamp-h1
/yasiti
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
